/********************
GENERAL
********************/

body{ 
	font-family: 'Open Sans', sans-serif; 

}

#wrapper { 
	max-width: 940px; 
	margin: 0 auto;
	padding: 0 10%;
}

a { 
text-decoration: none; 
}

img{ 
	max-width: 100%; 
	border-radius: 10%; 
}

h3{ 
	margin: 0 0 1em 0; 
	
}


/********************
HEADING 
********************/
header { 
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}


#logo{ 
	text-align: center;
	margin: 0; 
}

h1 { 
	font-family: 'Changa One', sans-serif; 
	margin: 15px, 0;
	font-size: 1.75em; 
	font-weight: normal; 
	line-height: 0.8em; 
}

h2{ 
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.95em; 
	margin: -5px 0 0; 
	font-weight: normal; 
}

/********************
SideBar
********************/
.sidebar{ 
	width: 160px;
	height: 100%;
	background: #151718; 
	padding-top: 250px; 
	top: 50px;
	left: -200px; 
	position:absolute; 
	z-index: -1; 
 }

.sidebar ul{
 margin-top: 10px; 
 padding: 0px;  
  }
.sidebar ul li{ 
 	list-style: none; 
  }
.sidebar ul li a{ 
 	color: white;
 	padding: 10px;
 	width: 130px; 
 	margin-bottom: 4px; 
 	display: block; 
 	border-bottom: 1px solid #111;
  }
 /*******************
 Sidebar Button
 *******************/ 
 .sidebar-btn{  
 	
 	display: inline-block;
 	vertical-align: middle;  
 	width: 20px;
 	height: 20px; 
 	margin: 20px; 
 	padding-left: -5px; 
 	cursor: pointer; 
 	opacity: 0.7; 
 	filter:alpha(opacity=70);  
	}
 .sidebar-btn span{ 
 	background: green;
	width: 20px;
	height:4px;
	margin-bottom: 4px;
	display: block;  
  }
.sidebar-btn span:nth-child(2){ 
  		width: 75%; 
   }
.sidebar-btn span:nth-child(3){ 
  		width: 50%; 
   }


/********************
Navigation 
********************/
nav { 
	text-align: center; 
	padding: 10px 0 ;
	margin: 20px 0 0; 
}

nav ul { 
	list-style: none; 
	margin: 0 10px; 
	padding: 0;
}

nav li{ 
	display: inline-block;
}

nav a{ 
font-weight: 800; 
padding: 15px 10px;
}




/********************
FOOTER
********************/
footer{ 
	font-size: 0.75em; 
	text-align: center; 
	clear: both; /*sets footer*/ 
	padding-top: 50px; 
	color: #333;
	border-color: #3b7c77; 
}

.social-icon{ 

	width: 20px;
	height: 20px; 
	padding: 10px 0;
	margin: 0 5px; 
}

/********************
Page: Games
********************/ 
#Games li{ 
	list-style: none;
	

 }
/********************
Page: Gallery
********************/
#Gallery{ 
	margin: 0; 
	padding: 0; 
	list-style: none; 
	position: relative;

}
#Gallery li{ 
	float: left; 
	width: 45%; 
	margin: 2.5%;
	background-color: #f5f5f5; 
	color: #bdc3c7;
}
#Gallery li a p{ 
	margin: 0; 
	padding: 5%; 
	font-size: 0.95em; 
	color: #000;
	}

/********************
Page: About
********************/
.portrait-me{ 
	display: block;
	max-width: 150px; 
	margin: 0 auto 30px;
	border-radius: 100%; 
	
}

/********************
Page: Contact
********************/
.contact-info{ 
	list-style: none; 
	margin: 0;
	padding: 0;
	font-size: 0.9em; 

}
.contact-info a{ 
	display: block;
	min-height: 20px; 
	background-repeat: no-repeat;
	background-size: 20px 20px; 
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}
.contact-info li.phone a{ 
	background-image: url('../img/phone.png');

}
.contact-info li.mail a{ 
	background-image: url('../img/mail.png');

}
.contact-info li.twitter a{ 
	background-image: url('../img/twitter.png');

}
/********************
COLORS
********************/

/*site body*/
body{ 
	background-color: #fff;
	color: #999;
}
/*green header*/ 
header{ 
	background: #6ab47b; 
	border-color: #599a68;
}
nav { 
	border-color: #599a68;
	background-color: #599a68; 
}


/*logo text*/ 
h1, h2{
	color: #fff;
}
/*link colors*/
a { 
	color: #6ab47b;
}
span{ 
	color: #333;
 }

/* navigation anchor color change*/ 
nav a, nav a:visited { 
	color: #fff;
}
/*changes color when mouse hovers over text*/ 
nav a.selected, nav a:hover{ 
	color: #32673f;
}

