/***********************************
	TABLET RESPONSIVE DESIGN
***********************************/



@media screen and (min-width: 480px){
/********************************
	TWO COLUMN LAYOUT
********************************/

	#primary{ 
		width: 50%;
		float: left;
	}

	#secondary { 
		width: 40%; 
		float: right;
	}

	/***************************
	PAGE: PORTFOLO;
	***************************/
	#Gallery li{ 
		width: 28.3333%; 

	}
	#Gallery li:nth-child(4n){
		clear: left; 

	}


	/***************************
	Page: About
	***************************/
	.portrait-me{ 
		float: left; 
		margin: 0 5% 80px 0; 
	}


}
/****************************************
	DESKTOP RESPONSIVE DESING
****************************************/

@media screen and (min-width: 660px){ 
	/***************************
	HEADER
	***************************/
	nav{ 
		background: none; 
		float: right;
		font-size: 1.125em;
		margin-right: 5%; 
		text-align: right; 
		width: 45%; 

	}

	#logo { 
		float: left; 
		margin-left: 5%; 
		text-align: left;
		width: 45%; 

	}
	h1{ 
		font-size: 2.5em; 

	}
	h2 { 
		font-size: 1em; 
		margin-bottom: 20px; 
	}

	header{ 
		border-bottom: 5px solid #599a67; 
		margin-bottom: 60px; 
	}

}